@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-header: "Gothic A1", sans-serif;
  --font-body: "Inria Serif", serif;
  --font-accent: "Open Sans", sans-serif;
  
  --color-brand-primary: #FA824C;
  --color-brand-secondary: #E44F44;
  --color-brand-bg: #B8D8D8;
  --color-brand-text: #4F6367;
}

@layer base {
  body {
    @apply bg-[#fdfcf8] text-brand-text font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
}
